<mat-card class="employee employee-card">
  <mat-card-header>
    <mat-card-title><strong>{{employee.lastName}}, {{employee.firstName}}</strong></mat-card-title>
    <mat-card-subtitle>{{employee.id}}</mat-card-subtitle>
    <img mat-card-image src="../../../../assets/images/{{imageId}}.jpg" alt="Photo of an Employee">
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt><strong>Job Title</strong></dt>
      <dd>{{employee.position}}</dd>
    </dl>
    <dl>
      <dt><strong>Compensation</strong></dt>
      <dd>{{employee.compensation}}$ per annum</dd>
    </dl>
    <dl>
      <dt><strong>Total No. Of Reports</strong></dt>
      <dd>{{numberOfReports}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <div class="spacer">
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
      <button mat-raised-button (click)="openDirectModal()">DIRECT</button>
      <button mat-raised-button (click)="openTotalModal()">TOTAL</button>
    </div>
  </mat-card-actions>
  <!--<mat-card-footer>
    <div mat-card-avatar class="employee-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-footer>-->
</mat-card>
